/*-----------------------------------------------------
--------------------- Base Styles --------------------- 
-----------------------------------------------------*/

// scrolling effects and box sizing
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// used to style the body of the website with specific fonts inserted
body {
    background-image: linear-gradient(to right, $body-gradient);
    color: $color-text-base;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// navbar includes styling and positioning of the website
nav {
    background-color: rgba(0, 0, 0, 0.473);
    font-family: 'Rock Salt', cursive;
    position: fixed;
    top: 0px; 
    width: 100%; 
    transition: top 0.3s; 
    border-radius: 10px;
    text-align: center;
}

// each ul tag in the navbar is spaced out and position
ul {
    text-align: center;
    display: inline;
    padding: 40px;
}

// different headings used to style the website
h1 {
    font-size: 2.55rem;
    font-family: 'Unlock', cursive;
    text-shadow: 1px 1px 1px black;
}

h2 {
    font-family: 'Unlock',
    cursive;
}

h3 {
    font-size: 1.25em;
    color: $color-text-dark;
    line-height: 1.2;
    margin-bottom: 1.7em;
}

// styling the paragraphs
p {
    color: $color-text-light;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.685);
    border-radius: 10px;
}

// Styles my table to fit in with the website
table {
    padding-top: 40px;
    font-size: 17px;
    box-shadow: 0px 5px 8px $black;
    padding: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgba(19, 19, 19, 0.753);
    color: $yellow-orange;
}

// the iframe was used for the google maps 
iframe {
    box-shadow: 0px 5px 4px black;
    height: 340px;
    width: 370px;
}

// this styles my form for the contact form
select, option, input {
    background-color: rgba(0, 0, 0, 0.493);
    color: $yellow-orange;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px black;
    width: 300px;
    height: 40px;
    margin: 5px;
}

textarea {
    background-color: rgba(0, 0, 0, 0.493);
    color: $yellow-orange;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px black;
    width: 350px;
}


/* -------------------------------------------------------
--------------------- Pseudo-classes --------------------- 
---------------------------------------------------------*/

// links styled with the hover and visited styles
a {
    text-shadow: 0 3px 3px $color-shadow;

    &:link {
        color: $color-link-default;
        text-decoration: none;
        font-size: 1.2rem;
    }

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: rgba($color-link-default, .9);
        font-size: 1.5rem;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }
}

// paragraph styling when hovered the background opacity darkens more 
p:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    background-color: rgba(26, 26, 26, 0.808);
}


// All image transitions and hovering
img:hover {
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        filter: brightness(130%);
    }
