/*-----------------------------------------------------
--------------------- Base Styles --------------------- 
-----------------------------------------------------*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, rgb(250, 215, 150), rgb(212, 255, 133), rgb(250, 121, 121));
    color: $color-text-base;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.473);
    font-family: 'Rock Salt', cursive;
    position: fixed;
    top: 0px; 
    width: 97%; 
    transition: top 0.3s; 
    border-radius: 10px;
}

ul {
    text-align: center;
    display: inline;
    padding: 40px;
}


h1 {
    font-size: 2.35rem;
    font-family: 'Unlock',
    cursive;
}

h2 {
    font-family: 'Unlock',
    cursive;
}

h3 {
    font-size: 1.25em;
    color: $color-text-dark;
    line-height: 1.2;
    margin-bottom: 1.7em;
}

img {
    box-shadow: 0px 5px 10px rgb(31, 31, 31);
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}


iframe {
    box-shadow: 0px 5px 5px black;
    height: 200px;
    width: 80%;
}


/* -------------------------------------------------------
--------------------- Pseudo-classes --------------------- 
---------------------------------------------------------*/

a {
    text-shadow: 0 3px 3px $color-shadow;

    &:link {
        color: $color-link-default;
        text-decoration: none;
        font-size: 1.2rem;
        
    }

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: rgba($color-link-default, .9);
        font-size: 1.5rem;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }
}
    

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,300px);
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        -webkit-filter: brightness(130%);
    }
}


.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(15,300px);
}

.item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.name {
    grid-column: span 4;
    grid-row: span 1;
    text-align: center;
}

.camp1 {
    grid-column: span 2;
    grid-row: span 1;
}

.camp2 {
    grid-column: span 1u;
    grid-row: span 1;
}

.camp3 {
    grid-column: span 2;
    grid-row: span 1;
}

.camp4 {
    grid-column: span 2;
    grid-row: span 1;
}

.camp5 {
    grid-column: span 1;
    grid-row: span 2;
}

.hike1 {
    grid-column: span 1;
    grid-row: span 1;
}

.hike2 {
    grid-column: span 2;
    grid-row: span 1;
}

.hike3 {
    grid-column: span 1;
    grid-row: span 1;
}

.hike4 {
    grid-column: span 1;
    grid-row: span 2;
}

.hike5 {
    grid-column: span 2;
    grid-row: span 1;
}

.canoe {
    grid-column: span 1;
    grid-row: span 1;
}

.canoe2 {
    grid-column: span 2;
    grid-row: span 1;
}

.canoe3 {
    grid-column: span 1;
    grid-row: span 1;
}

.canoe4 {
    grid-column: span 2;
    grid-row: span 1;
}

.canoe5 {
    grid-column: span 1;
    grid-row: span 2;
}

.fish {
    grid-column: span 1;
    grid-row: span 1;
}

.fish2 {
    grid-column: span 2;
    grid-row: span 1;
}

.fish3 {
    grid-column: span 1;
    grid-row: span 2;
}

.fish4 {
    grid-column: span 2;
    grid-row: span 1;
}

.fish5 {
    grid-column: span 1;
    grid-row: span 1;
}

.climb {
    grid-column: span 2;
    grid-row: span 1;
}

.climb2 {
    grid-column: span 1;
    grid-row: span 1;
}

.climb3 {
    grid-column: span 1;
    grid-row: span 2;
}

.climb4 {
    grid-column: span 1;
    grid-row: span 1;
}

.climb5 {
    grid-column: span 2;
    grid-row: span 1;
}





