/*-----------------------------------------------------
--------------------- Base Styles --------------------- 
-----------------------------------------------------*/

// scrolling effects and box sizing
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// used to style the body of the website with specific fonts inserted
body {
    background-image: linear-gradient(to right, $body-gradient);
    color: $color-text-base;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// navbar includes styling and positioning of the website
nav {
    background-color: rgba(0, 0, 0, 0.473);
    font-family: 'Rock Salt', cursive;
    position: fixed;
    top: 0px; 
    width: 100%; 
    transition: top 0.3s; 
    border-radius: 10px;
    text-align: center;
}

// each ul tag in the navbar is spaced out and position
ul {
    text-align: center;
    display: inline;
    padding: 40px;
}

// different headings used to style the website
h1 {
    font-size: 2.55rem;
    font-family: 'Unlock', cursive;
    text-shadow: 1px 1px 1px black;
}

h2 {
    font-family: 'Unlock',
    cursive;
}

h3 {
    font-size: 1.25em;
    color: $color-text-dark;
    line-height: 1.2;
    margin-bottom: 1.7em;
}

p {
    color: $color-text-light;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.685);
    border-radius: 10px;
}

// Styles my table to fit in with the website
table {
    padding-top: 40px;
    font-size: 17px;
    box-shadow: 0px 5px 8px $black;
    padding: 30px;
    border: 2px solid $color-prim;
    border-radius: 10px;
    background-color: rgba(19, 19, 19, 0.753);
    color: $yellow-orange;
}

// the iframe was used for the google maps 
iframe {
    box-shadow: 0px 5px 5px black;
    height: 200px;
    width: 95%;
}

// this styles my form for the contact form
select, option, input, textarea {
    background-color: rgba(0, 0, 0, 0.493);
    color: $yellow-orange;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0px 5px 5px black;
}

/* -------------------------------------------------------
--------------------- Pseudo-classes --------------------- 
---------------------------------------------------------*/

a {
    text-shadow: 0 3px 3px $color-shadow;

    &:link {
        color: $color-link-default;
        text-decoration: none;
        font-size: 1.2rem;
        
    }

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: rgba($color-link-default, .9);
        font-size: 1.5rem;
        transition-duration: 0.6s;
        transition-timing-function: ease-out;
    }
}

p:hover {
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    background-color: rgba(26, 26, 26, 0.808);
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,300px);
    
}

// Image transitions and hovering
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgb(31, 31, 31);
    max-width: 100%;
    border-radius: 10px;

    &:hover {
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        -webkit-filter: brightness(130%);
    }
}