/* Web Fonts -------------------- */
@import 'https://fonts.googleapis.com/css?family=Noto+Sans+SC|Unlock|Rock+Salt';

@font-face {
    font-family: 'Unlock',
    cursive, 'Rock Salt', cursive;
}

.main-header {
    background: linear-gradient( rgba(253, 238, 210, 0), rgba(252, 195, 110, 0.171), rgba(255, 189, 113, 0.329)), url(../images/background.jpg);
    text-align: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.gallery {
    background-image: linear-gradient(rgb(20, 20, 20), rgb(58, 58, 58), rgb(107, 107, 107));
    text-align: center;
    background-size: cover;
    padding: 40px;
}

.contact {
    background: url(../images/contact.jpg);
    text-align: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.main {
    &-menu {
        font-size: 1.945;
        display: inline-block;
        line-height: 60px;
    
    }

    &-heading {
        font-size: 5.625rem;
        color: $color-text-light;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.3;
        text-shadow: 0 5px 4px $color-shadow;
        margin: 12px 0 0;
        font-size: 5rem;
        line-height: 1.1;
    }

    &-title {
        color: $color-text-light;
        font-family: 'Rock Salt', cursive;
        font-size: 1.625rem;
        letter-spacing: .065em;
        text-shadow: 0 5px 4px $color-shadow;
        font-weight: 200;
        border-bottom: 2px solid;
        padding-top: 10%;
        border: none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    min-width: 200px;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.493);
    z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: $color-link-visited;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
        color: rgba($color-link-default, .9);
    }
  
.dropdown:hover .dropdown-content {
      display: block;
    }
  
  

.top {
    font-size: 2.945rem;
    display: inline-block;
    line-height: 60px;
}

.intro {
    font-size: 1.25em;
    line-height: 1.6;
}


// Arrow image icon

.arrow {
    width: 40px;
    height: 40px;;
    margin-top: 80px;
}

.camp-content {
        background-image: url(../images/camping.jpg);
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        margin-top: 0px;
        padding: 60px;
        grid-gap: 10px;
        grid-template-columns: 10fr 10fr ;
        grid-template-areas: 
        "header header"
}

.heading {
    padding: 20px;
    text-align: center;
    grid-area: header;
    background-color: $heading-back;
}

.hike-content {
    background-image: url(../images/hiking.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 10fr 10fr ;
    grid-template-areas: 
    "header2 header2"
}

.heading2 {
    padding: 20px;
    text-align: center;
    grid-area: header2;
    background-color: $heading-back;
}

.canoe-content {
    background-image: url(../images/canoeing.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 10fr 10fr ;
    grid-template-areas: 
    "header3 header3"
}

.heading3 {
    padding: 20px;
    text-align: center;
    grid-area: header3;
    background-color: $heading-back;
}

.fish-content {
    background-image: url(../images/fishing.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 10fr 10fr ;
    grid-template-areas: 
    "header4 header4"
}

.heading4 {
    padding: 20px;
    text-align: center;
    grid-area: header4;
    background-color: $heading-back;
}

.climb-content {
    background-image: url(../images/climbing.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 10fr 10fr ;
    grid-template-areas: 
    "header5 header5"
}

.heading5 {
    padding: 20px;
    text-align: center;
    grid-area: header5;
    background-color: $heading-back;
}


table {
    padding-top: 40px;
    font-size: 17px;
    box-shadow: 0px 5px 8px black;
    padding: 30px;
    border: 2px solid rgb(172, 140, 0);
    border-radius: 10px;
    background-color: rgba(19, 19, 19, 0.753);
    color: rgb(172, 140, 0);
}

.contact-content {
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 10fr 10fr ;
    grid-template-rows: 10fr 10fr ;
    grid-template-areas: 
    "header header"
}

.heading {
padding: 20px;
text-align: center;
grid-area: header;
background-color: $heading-back;
}