/* -------------------------------------------------------
----------------------- Index Page ----------------------- 
---------------------------------------------------------*/

// Each section has a grid template to even out the website
// camping section content properties mixins included 
.heading {
    @include home-head;
    grid-area: header1;
}

.camp-content {
    background-image: linear-gradient($home-section-gradient), url(../images/camping.jpg);
    @include home-section;
    grid-template-areas: 
        "header header"
}

// Hiking section content properties mixins included  
.heading2 {
    @include home-head;
    grid-area: header2;
}
.hike-content {
    background-image: linear-gradient($home-section-gradient), url(../images/hiking.jpg);
    @include home-section;
    grid-template-areas: 
            "header2 header2"
}

// Canoeing section content properties mixins included 
.heading3 {
    @include home-head;
    grid-area: header3;
}
.canoe-content {
    background-image: linear-gradient($home-section-gradient), url(../images/canoeing.jpg);
    @include home-section;
    grid-template-areas: 
        "header3 header3"
}

// Fishing section content properties mixins included 
.heading4 {
    @include home-head;
    grid-area: header4;
}
.fish-content {
    background-image: linear-gradient($home-section-gradient), url(../images/fishing.jpg);
    @include home-section;
    grid-template-areas: 
        "header4 header4"
}

// Climbing section content properties mixins included 
.heading5 {
    @include home-head;
    grid-area: header5;
}
.climb-content {
    background-image: linear-gradient($home-section-gradient), url(../images/climbing.jpg);
    @include home-section;
    grid-template-areas: 
        "header5 header5"
}


// This is the div class for the slider
.slider {
    position: relative;
    width: 50%;
}

// the image placement in the index.html for each section
.images {
  display: block;
  width: 600px;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
}

// This is the overlay that appears over the image
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $slider-gradient;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

// This ensures that slider only appears on hover
.slider:hover .overlay {
  width: 600px;
  border-radius: 10px;
}

// This centers the text in the middle
.see-more {
  color: white;
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


/* -------------------------------------------------------
---------------------- Gallery Page ---------------------- 
---------------------------------------------------------*/

// This ensures that the grid format sets the rows and columns
.container {
    display: grid;
    grid-gap: 10px;
    padding-top: 2%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,290px);
}

// the item class makes all the image cover the cell in which the image is inserted
.item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 10px rgb(31, 31, 31);
    max-width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
// Once hovered the image will brighten and expand
.item:hover {
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        filter: brightness(130%);
}

// below is where only certain images are spaned across a column or a row this helps to create a masonry gallery
.camp1 {
    grid-column: span 2;
}
.camp3 {
    grid-column: span 2;
}
.camp4 {
    grid-column: span 2;
}
.camp5 {
    grid-row: span 2;
}
.hike2 {
    grid-column: span 2;
}
.hike4 {
    grid-row: span 2;
}
.hike5 {
    grid-column: span 2;
}
.canoe2 {
    grid-column: span 2;
}
.canoe4 {
    grid-column: span 2;
}
.canoe5 {
    grid-row: span 2;
}
.fish2 {
    grid-column: span 2;
}
.fish3 {
    grid-row: span 2;
}
.fish4 {
    grid-column: span 2;
}
.climb {
    grid-column: span 2;
}
.climb3 {
    grid-row: span 2;
}
.climb5 {
    grid-column: span 2;
}


/* -------------------------------------------------------
---------------------- Contact Page ---------------------- 
---------------------------------------------------------*/

// This sets the grid for the table
.contact-content {
    display: grid;
    margin-top: 0px;
    padding: 60px;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr ;
    grid-template-areas: 
        "header header"
}

// This ensures that the whole page is set in a grid layout
.contact-grid {
        display: grid;
        width: 100%;
        padding: 2%;
        padding-left: 30%;
        text-align: center;
    
        /* grid columns and rows size */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 100px;
        
        //Grid layout set for the page 
        grid-template-areas: 
                "contacthead contacthead"
                "table1 table2"
                "footer1 footer1"
    }

// This sizes the main heading in the contact page
.heading {
    @include home-head;
    grid-area: header;
    background-color: $heading-back;
}
.contact-heading {
    text-align: center;
    grid-column: span 2;
}

// This sizes the grid heaing
.contact-heading-grid {
    grid-area: contacthead;
    width: 100%;
    margin-left: 200px;
}
// This adjusts the table sizes
.table-size1 {
    width: 550px;
    height: 700px;
}
.table-size2 {
    width: 550px;
    height: 700px;
// This tells where the tables are set in the grid 
}
.table1 {
    width: 500px;
    grid-area: table1;
}
.table2 {
    width: 200px;
    grid-area: table2;
    align-items: center;
}
// Sizing for the footer only for the contact page
.contact-footer {
    width:1140px;
    grid-area: footer1;
}

/* ------------------ End of Contact Page ---------------------*/

