// Descriptive color variables

$white : rgba(252, 211, 164, 0.753);
$black : #000;
$grey : #444444;
$nav : #2a2a2a2f;
$regent-st-blue : #4295b1;
$river-bed : #48525c;
$yellow-orange : #ffa949;
$color-text-dark: #2a2a2a;
$heading-back: rgba(255, 162, 0, 0.418);

// Functional color variables

$color-prim : $yellow-orange;
$color-sec : $river-bed;

$color-text-light : $white;
$color-text-base : $grey;
$color-text-dark : $river-bed;

$color-border-light : lighten($grey, 35%);
$color-border-dark : $yellow-orange;

$color-link-default : $yellow-orange;
$color-link-visited : $regent-st-blue;

$color-shadow : rgba($black, .8);
$color-body : $white;
